PORT=3000
NODE_ENV=production

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
JWT_EXPIRES_IN=1d

FRONTEND_PUBLIC_URL=https://PUBLIC_DOMAIN
FRONTEND_ADMIN_URL=https://ADMIN_DOMAIN

COOKIE_SECURE=true
COOKIE_SAME_SITE=lax
